<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Dni</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Email</td>
            <td>Direccion</td>
            <td>Genero</td>
            <td>Estado</td>
            <td>Telefono</td>
            <td>Grupo</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of studentList">
            <td>{{student.id}}</td>
            <td>{{student.dni}}</td>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.email}}</td>
            <td>{{student.address}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.status}}</td>
            <td>{{student.phone}}</td>
            <td>{{student.cohort}}</td>
            <button class="btn btn-success btn-sm" (click)="update(ver, student)">Update</button>
            <button class="btn btn-danger btn-sm" (click)="delete(student.id)">Delete</button>
        </tr>
    </tbody>
    <tfoot>

    </tfoot>
</table>

<form [formGroup]="studentForm">
    <input formControlName="dni" placeholder="DNI"> 
    <p *ngIf="dni.touched && dni.errors?.required">Campo obligatorio</p><br>
    <input formControlName="lastName" placeholder="Last Name">
    <p *ngIf="lastName.touched && lastName.errors?.required">Campo obligatorio</p><br>
    <input formControlName="firstName" placeholder="First Name">
    <p *ngIf="firstName.touched && firstName.errors?.required">Campo obligatorio</p><br>
    <input formControlName="email" placeholder="Email">
    <p *ngIf="email.touched && email.errors?.required">Campo obligatorio</p><br>

    <button class="btn btn-primary btn-sm" (click)="save()">Save</button>
    <!--<td><input type="text" [(ngModel)]="dni"> </td>
    <td><input type="text" [(ngModel)]="lastName"></td>
    <td><input type="text" [(ngModel)]="firstName"></td>
    <td><input type="text" [(ngModel)]="email"></td>
    <td colspan="2"><button (click)="save()">Save</button></td>-->
</form>

<ng-template #ver let-modal>
    <div class="modal-header">
        <h5 class="modal-title">View student</h5>
        <button class="close" aria-label="Close" (click)="modal.dismiss()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <label>Id:</label>
        <input class="form-control" [(ngModel)]="id2" readonly>
        <label>Dni:</label>
        <input class="form-control" [(ngModel)]="dni2" ngbAutofocus>
        <label>Last Name:</label>
        <input class="form-control" [(ngModel)]="lastName2">
        <label>First name:</label>
        <input class="form-control" [(ngModel)]="firstName2">
        <label>Email:</label>
        <input class="form-control" [(ngModel)]="email2">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modal.close()">Guardar</button>
    </div>
</ng-template>